* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

body{
    background-color: rgba(103, 237, 255, 0.534);
}

.main {

    position: relative;
    top: 45px;
    margin: auto;
    width: 440px;
    height: 500px;
    background-color: #7fffd4;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.336);
    border-radius: 20px;
    z-index: 0;
}

.layoutButton {
    
    position: relative;
    left:9%;
    top: 27%;
    width:65%;
    height: 70%;
    border-radius: 12px;
   box-shadow: 1px 1px 3px 0px #00000056;
    background-color: #ffc0cb;
    z-index: 1;
}

#layoutButton2 { 
    
    position: relative;
    left: 7%;

}


.screen {

    overflow: auto hidden;
    color: white;
    position: relative;
    left: 4%;
    bottom: 63%;
    width: 80%;
    height: 17%;
    text-align: justify;
    font-size: 65px;
    text-indent: 30px;
    border-radius: 40px;
    box-shadow: 1px 1px 3px 0px #00000056;
    background-color: rgba(40, 151, 171, 0.582);
     z-index: 1;
     
}
.delete {
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-style: none;
    position: relative;
    float: right;
    width: 9%;
    bottom: 80%;
    right: 16%;
    height: 17%;
    border-radius: 0 40px 40px 0;
    z-index: 1;
    background-color: #ba74fbfa;
    

}

.oper {
    
    position: relative;
    bottom: 59%;
    left: 78%;
    width: 18%;
    height: 69%;
    border-radius: 12px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.336);
    background-color: #A9AD2D;
    z-index: 1;
    
}

.button {
    
    color: rgb(253, 253, 253);
    background-color: #62B371;
    font-family:'Kanit', sans-serif;
    font-size: 44px;
    position: relative;
    margin-top: 11.2px;
    right: 1%;
    width: 80px;
    height: 72px;
    border-radius: 6.8px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.336);
    border-style: none;
    z-index: 2; 
    
}
#layoutButton2{ position: relative;
    top: 1.5%;

}
#layoutButton3 {position: relative;
    left: 7% ;
    top: 1%;
}
.button:hover{
background-color: #3fa552;
}




#nove:active{
    color:rgb(255, 153, 0); 
}

#oito:active{
    color:rgb(255, 247, 6);
}

#sete:active{
    color:rgb(4, 255, 54);
}

#seis:active{
    color:hwb(164 0% 0%);
}
#cinco:active{
    color:hwb(189 0% 0%);
}
#quatro:active{
    color:hwb(238 0% 0%);
}
#tres:active{
    color:hwb(253 0% 0%);
}
#dois:active{
    color:hwb(272 0% 0%);
}
#um:active{
    color:hwb(0 0% 0%);

}


.buttonOper{
    font-family: 'Kanit', sans-serif;
    background-color: #ba74fbfa;
    color: rgb(255, 255, 255);
    position: relative;
    left: 12%;
    width: 75%;
    height: 20%;
    font-size: 25px;
    border-radius: 6.8px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0);
    border-style: none;
    z-index: 2;
}

#buttonOper {position: relative;
    top: 5%;
    width: 100%;
    height: 100%; 

}

.buttonOper:hover{
    background-color: #9a39f5b9;
}


#operMais {
    bottom: 4px;
}
#operMenos {
   
    top: 10px;
}
#operX{

    top: 25px;
}

#operDiv{
  
    top: 40px;
}

#numIgual {
    text-align: center;
width: 80px;
height: 64px;
left: 1.1%;
}

#numIgual:active{
color: cadetblue;
}


#numRemove{
    text-align: center;
width: 80px;
height: 64px;
right: 3%;
}

#numRemove:active{
    color: brown;
}

#numZero{ position: relative;
    top: 0.3px;

}

#numZero:active{
    color:coral;
}

#operMais:active{
    color:#4980E3;
}

#operMenos:active{
    color:#E3BD6B;
}

#operX:active {
    color:#E3549E;
}
#operDiv:active{
color:#3FE33D;
}
#sete, #quatro, #um {
right: 3%;
} 
#nove, #seis, #tres{
left: 1.1%;
}

.delete:hover{
    background-color: #af5cfd;
}

.delete:active{
    color: red;
}

.screen::-webkit-scrollbar-track{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/

	background-color: rgba(40, 151, 171, 0);
}

.screen::-webkit-scrollbar{
	background-color:rgba(40, 151, 171, 0);
}

.screen::-webkit-scrollbar-thumb{
	background-color: #7fffd443;
   

}